@charset "ISO-8859-1";

.show-cards{
	justify-content: flex-start;
}
.card{
	width: 18rem;
}
.card-img-top{
	width:17rem !important;
	margin: 7px;
	height:13rem;
}
/* .blog-image{
	width: 100%;
	
}
.blog-image img{
	width: 100%;
} */
