@charset "ISO-8859-1";
*{
	width:auto;
	height:auto;
	
}
body{
	background-image: currentColor;
	
}
.tryout {
	background-color:#585858;
	padding-bottom: 2%;
}

 #bootstrap-overrides .show-cards div.card{
	    box-shadow: none; !important
}

.icon{
	width:100px;
	margin:3%;
}
.icon1{
	margin-left:30%;
}
.icon-head{
	width:100%;
	overflow-x:scroll;
}
.icon-head::-webkit-scrollbar {
  display: none;
}

#bootstrap-overrides .show-cards div.card{
	background-color:transparent;
	border:none; !important
} 
a.nav-link.h6.dashboard-header{
	font-weight: 700;
	color: #ffc107;
}
a.nav-link.h6.dashboard-header:hover {
	color: #ffc107;
}
.tryOur{
	 margin-top: 7%;
	 margin-bottom: 7%;
}
.food-icon h1{
	font-family: 'ABeeZee', sans-serif;
}
.food-image{
    text-align: justify;
}
@Media only screen and (max-width: 1000px) {
	
	.icon{
		width:100px;
		
	}
	footer p{
	/* 	font-size:2rem; */
	}
}