<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Foodic</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CommonGet</display-name>
    <servlet-name>CommonGet</servlet-name>
    <servlet-class>com.Foodic.get.CommonGet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommonGet</servlet-name>
    <url-pattern>/CommonGet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonalDetailObject</display-name>
    <servlet-name>PersonalDetailObject</servlet-name>
    <servlet-class>com.Foodic.object.PersonalDetailObject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalDetailObject</servlet-name>
    <url-pattern>/PersonalDetailObject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllRecipeGet</display-name>
    <servlet-name>AllRecipeGet</servlet-name>
    <servlet-class>com.Foodic.get.AllRecipeGet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllRecipeGet</servlet-name>
    <url-pattern>/AllRecipeGet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecipeCardObject</display-name>
    <servlet-name>RecipeCardObject</servlet-name>
    <servlet-class>com.Foodic.object.RecipeCardObject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecipeCardObject</servlet-name>
    <url-pattern>/RecipeCardObject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BlogDetailGe</display-name>
    <servlet-name>BlogDetailGe</servlet-name>
    <servlet-class>com.Foodic.get.BlogDetailGe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlogDetailGe</servlet-name>
    <url-pattern>/BlogDetailGe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BlogGet</display-name>
    <servlet-name>BlogGet</servlet-name>
    <servlet-class>com.Foodic.get.BlogGet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlogGet</servlet-name>
    <url-pattern>/BlogGet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentGet</display-name>
    <servlet-name>CommentGet</servlet-name>
    <servlet-class>com.Foodic.get.CommentGet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentGet</servlet-name>
    <url-pattern>/CommentGet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RatingGet</display-name>
    <servlet-name>RatingGet</servlet-name>
    <servlet-class>com.Foodic.get.RatingGet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RatingGet</servlet-name>
    <url-pattern>/RatingGet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecipeDetailGet</display-name>
    <servlet-name>RecipeDetailGet</servlet-name>
    <servlet-class>com.Foodic.get.RecipeDetailGet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecipeDetailGet</servlet-name>
    <url-pattern>/RecipeDetailGet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BlogObject</display-name>
    <servlet-name>BlogObject</servlet-name>
    <servlet-class>com.Foodic.object.BlogObject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlogObject</servlet-name>
    <url-pattern>/BlogObject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecipeObject</display-name>
    <servlet-name>RecipeObject</servlet-name>
    <servlet-class>com.Foodic.object.RecipeObject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecipeObject</servlet-name>
    <url-pattern>/RecipeObject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BlogPost</display-name>
    <servlet-name>BlogPost</servlet-name>
    <servlet-class>com.Foodic.post.BlogPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlogPost</servlet-name>
    <url-pattern>/BlogPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentPost</display-name>
    <servlet-name>CommentPost</servlet-name>
    <servlet-class>com.Foodic.post.CommentPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentPost</servlet-name>
    <url-pattern>/CommentPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RatingPost</display-name>
    <servlet-name>RatingPost</servlet-name>
    <servlet-class>com.Foodic.post.RatingPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RatingPost</servlet-name>
    <url-pattern>/RatingPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecipeInputPost</display-name>
    <servlet-name>RecipeInputPost</servlet-name>
    <servlet-class>com.Foodic.post.RecipeInputPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecipeInputPost</servlet-name>
    <url-pattern>/RecipeInputPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecipePost</display-name>
    <servlet-name>RecipePost</servlet-name>
    <servlet-class>com.Foodic.post.RecipePost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecipePost</servlet-name>
    <url-pattern>/RecipePost</url-pattern>
  </servlet-mapping>
</web-app>